body {
    background-color: pink;
    color: white;
    font-family: 'Exo 2', sans-serif;
}


/*-- Nav Bar --*/

.navbar-custom {
    color: white;
    padding-right: 50px;
}


.active {
    font-weight: 900;
    border-bottom: solid;
}

.nav-item img {
    width: 50px;
    margin: 5px;
}

.nav-item {
    color:white;
}

.nav-item:hover {
    background: black;
}

/*-- HOMEPAGE --*/

#title {
    font-family: 'Exo 2', sans-serif;
    padding-top: 50px;
    padding-bottom: 30px;
    letter-spacing: 3px;
    width: 310px;
    font-size: 52px;
    font-weight: 600;
}

.description {
    color: black;
    text-align: center;
    letter-spacing: 1px;
    font-size: 20px;
}

/*-- WORK --*/
.control {
    display: inline-block;
    border-bottom: solid;
    font-size: 20px;
    margin: 10px;
}

.control:hover {
    cursor: pointer;
    background: white;
    color: black;
}

.box {
    background-color: blue;
    height: 200px;
    background-image: url('/static/work/fos2.jpg');
    background-size: cover;
    text-align: center;
    padding-top: 90px;
    color: transparent;
}


