<!DOCTYPE html>
<html lang="en">

    {% include 'header.html' %}

    <link rel="stylesheet" type="text/css" href="/static/css/glitch.css">
    <link rel="stylesheet" type="text/css" href="/static/css/hover.css">
    <script type="text/javascript" src="/static/js/script.js"></script>
    <script type="text/javascript" src="/static/js/mixitup.min.js"></script>
    
    <script>
        function gotoProject(pageNum) {
            var path = "/project/" + pageNum.toString();
            window.location.href = path;
        }
    </script>

<body>

    {% include 'nav.html' %}
    <div class="container">

        <div>
            <h1 id="title" class="glitch"  data-text="Kelly Chang">Kelly Chang</h1>
        </div>
        <p class="description" id="writer">
            Kelly is a Creative Programmer
        </p>
        <p class="description" id="writer2">
            Game Developer
        </p>
        <p class="description" id="writer3">
            Musician
        </p>

        <!-- Control -->
        <div style="text-align: center; margin-bottom: 12px">
            <div class="control" data-filter="all">All</div>
            <div class="control" data-filter=".code">Programming</div>
            <div class="control" data-filter=".game">Games</div>
            <div class="control" data-filter=".art">Art</div>
        </div>

        <!-- MixItUp -->
        <div class="wrapper row">
            {% for project in project_list %}
                <div class="mix col-md-4 box {{ project.tag }} bg-{{ loop.index }} hvr-sweep-to-left" data-order="{{ loop.index }}" onclick="gotoProject({{ loop.index }})">
                    {{ project.title }}
                </div>
            {% endfor %}
        </div>

    </div>

    {% include 'footer.html' %}
</body>
</html>
