<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Audio Reactive</title>
    <script src="/static/p5/p5.js" type="text/javascript"></script>
    <script src="/staitc/p5/p5.dom.js" type="text/javascript"></script>
    <script src="/staitc/p5/p5.sound.js" type="text/javascript"></script>

    <script src="/staitc/p5/sketch.js" type="text/javascript"></script>
    <script src="/staitc/p5/Building.js" type="text/javascript"></script>
    <script src="/staitc/p5/MagicCarpet.js" type="text/javascript"></script>

    <style> body {padding: 0; margin: 0; background: black;} 
      canvas {
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 1200px;
      }
    </style>
  </head>
  <body>
  </body>
</html>
